#DB
DB_PASSWORD=''
DB_NAME=''
DB_PORT=''
DB_USER=''

#API
PORT=''
APP_BASE_URL=''
SECRET_KEY=''
EXPIRATION_TIME_IN_MILLISECONDS=''

#SERVER
IMAGE_STORAGE_PATH=''

#GOOGLE_LOGIN
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''